.wrapper_container {
	width: 960px;
	margin: 20px auto;
}

.wrapper_container .nav__container {
	// border: 2px solid orange;
	margin-bottom: 10px;
}

.wrapper_container .nav__item {
	white-space: nowrap;

	background-color: #e5e7e8;
	border: 1px solid #fff;
	cursor: pointer;
	position: relative;
	// left: 300px;
	// margin-bottom: 10px;
	outline: none;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 21px;
}

.wrapper_container .nav__item h1 {
	text-align: center;
	padding: 0 15px;
}

.wrapper_container .slick-current {
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, #d6004f 0%, #c60032 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
	color: white;
}

.wrapper_container .slick-current:after {
	content: ''; 
	position: absolute; /* Абсолютное позиционирование */
    left: 45%; bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #c60032; /* Добавляем треугольник */
}
